.display-page {
  min-height: 100vh;
  overflow-x: hidden;
}
.main-page {
  position: relative;
  left: 20vw;
  width: 80vw;
}

@media (max-width: 992px) {
  .main-page {
    left: 0px;
    width: 100vw;
  }
}
