* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-page {
  position: absolute;
  left: 250px;
  width: 81%;
  margin: 0px;
}

@media (max-width: 992px) {
  .main-page {
    left: 0;
    width: 100%;
  }
}
